<app-header></app-header>
<h2>{{ numbers | welcome }}</h2>
<h4>{{ n1 | demopipe : n2 }}</h4>
<router-outlet></router-outlet>

<!-- <h2>Registraction Form</h2>
<div>
  <form #regdata="ngForm" (ngSubmit)="register(regdata)">
    <div>
      First Name:<input
        type="text"
        name="fname"
        placeholder="Enter Your First Name"
        ngModel
      />
    </div>
    <div>
      Last Name:<input
        type="text"
        name="lname"
        placeholder="Enter Your First Name"
        ngModel
      />
    </div>
    <div>
      Mobile No:<input type="text" placeholder="Enter Your Mobile No" ngModel />
    </div>
    <div>
      Password:<input
        type="password"
        placeholder="Enter Your Password"
        ngModel
      />
    </div>
    <div>
      <input type="button" value="Register" />
    </div>
  </form>
</div> -->
